[submodule "ampieta-game-web-sever"]
	path = ampieta-game-web-sever
	url =  git@github.com:myzjy/ampieta-game-web-sever.git
[submodule "ampieta-game-gateway"]
	path = ampieta-game-gateway
	url = git@github.com:myzjy/ampieta-game-gateway.git
[submodule "zfoo"]
	path = zfoo
	url = git@github.com:myzjy/zfoo.git
[submodule "ampieta-game-web-server-project"]
	path = ampieta-game-web-server-project
	url = git@github.com:myzjy/ampieta-game-web-server-project.git
[submodule "skynet"]
	path = skynet
	url = git@github.com:myzjy/skynet.git
